#for revealjs
.reveal div.slides, .reveal .slides {
  width: 90% !important;/*
  height: 1000px !important;*/
  transform: none !important;
  top: 5% !important;
  left: 5% !important;
  }

.reveal{
  /*font-size: 42px;*/
  font-size: 50px;
}

.reveal #tdd {
  padding-top:90px;
  font-size: 80px;
}
/*
.reveal h2 {
    font-size: 1.6em;
}
*/
.reveal pre code {
  max-height: 700px;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow:none;
}

.reveal blockquote {
  width: 100%;
}

.reveal .quoteblock .attribution {
  text-align: right;
  font-style: italic;
  font-family: inherit;
}

.reveal td.valign-top {
  vertical-align: top;
}
